@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Bubbles&display=swap');

body {
    margin: 100px;
    margin-left: 525px;
}

h1 {
    position: relative;
    left: 135px;
    top: -40px;
    font-size: 70px;
    font-family: "Rubik Bubbles", system-ui;
    color: rgb(24, 187, 168);
    font-weight: 400;
    word-spacing: 20px;
}

#setColor {
    padding: 13.6px 55px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color:cadetblue;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

#randomColor {
    padding: 13.6px 30px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color:cadetblue;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}


#resets {
    padding: 13.6px 68px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color:cadetblue;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

#colorTyper {
    padding: 13px;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 220px;
    background-color: rgb(44, 74, 87);
    color: white;
}

#colorTyper::placeholder {
    position: relative;
    color: white;
}

.block2 {
    display: flex;
}

#diverseOne {
    margin-top: 20px;
    border: 2px solid black;
    padding: 180px;
    width: 20px;
}

#diverseTwo {
    margin-top: 20px;
    border: 2px solid black;
    padding: 180px;
    width: 20px;
    margin-left: 58px;
}